.service-container {
    background-color: #fafafa;
    overflow-x: hidden;
    padding: 50px 0;
  }
  
  .nav-pills .nav-link {
    color: #fff;
    background-color: #003366;
    margin-bottom: 5px;
    padding: 16px 40px 16px 16px;
    transition: background-color 0.3s ease, transform 0.3s ease, width 0.3s ease;
    cursor: pointer;
  }
  
  .nav-pills .nav-link.active {
    background: #005eb8;
    box-shadow: 0 2px 20px 0 #0000004d;
    color: #fff;
    padding: 16px 40px 16px 20px;
    text-decoration: none;
    transform: translateX(50px);
    cursor: pointer;
    display: block;
    font-size: 18px;
    border-radius: 0;
    font-weight: 600;
  }
 
  ul.flex-column.nav.nav-pills {
    background: #003366;
    padding: 30px 20px;
    width: 370px;
    transform: translateX(-30px) translateY(-30px);
}
  ul.service-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  ul.service-list li {
    margin-bottom: 5px;
    width: 50%;
  }
  
  ul.service-list li::before {
    content: '•';
    color: #0056b3;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  
  .explore-further {
    /* text-align: right; */
    margin-top: 20px;
  }
  .service-title{
    color: #222;
    font-family: inherit !important;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 20px;
  }
  .service-title::after{
    background-color: #005EB8;
    content: "";
    display: block;
    height: 2px;
    margin: 10px 0 0;
    width: 40px;
  }
  .service-title-inner{
    color: #0056b3;
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    margin: 0 0 20px;
  }
    .service-title-inner::after{
      background-color: #005EB8;
      content: "";
      display: block;
      height: 2px;
      margin: 10px 0 0;
      width: 40px;
    }
  .service-content{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 19px;
    text-align: left;
  }
  .explore-further a {
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
  }
  .tab-content {
    background: #fff;
    box-shadow: 0 2px 37px 0 #0000001a;
    margin-left: 30px;
    margin-top: 70px;
}
  .tab-pane{
      width: 855px;
      padding-left: 70px;
  }
  .tab-pane h3 {
    margin-top: 0;
  }
  
  .tab-pane p {
    margin-bottom: 20px;
  }
  .list-group-item {
    padding: 10px 15px;
    border: none;
    margin-bottom: 5px;
    border-radius: 3px;
    
}
  
  .list-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: inherit;

  }
  
  .list-group-item {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
  }
  
  .list-group-item::before {
    content: '■';
    color: #007bff;
    margin-right: 10px;
  }
  .explore-further {
    margin-top: 50px;
    /* text-align: right; */
  }
  
  .explore-further a {
    color: #005EB8;
    text-decoration: none;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    padding: 6px 20px;
    border-radius: 20px;
    transition: background-color 0.4s ease, color 0.4s ease, transform 0.4s ease;
  }
  
  .explore-further a:hover {
    background-color: #005EB8;
    color: #fff;
    transform: scale(1.05);
    font-weight: 400;
  }
  
  .explore-further i {
    margin-left: 5px;
    transition: transform 0.4s ease;
    font-size: 16px;
  }
  
  .explore-further a:hover i {
    transform: translateX(5px);
  }
